/* Estilos para H1 */
H1 {
    font-size: 2.25rem;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin: 50px 0 20px;
    animation: bounce 1s infinite alternate; /* Animación de rebote */
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.todo {
    background-color: rosybrown;
}

/* Estilos para párrafos */
p {
    font-size: 1.125rem;
    color: #000;
    text-align: center;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilos para la barra de navegación */
.navbar {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.25rem;
}

.navbar-nav {
    display: flex;
    gap: 1rem;
}

.nav-item a {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.nav-item a:hover {
    color: #ccc;
}

/* Estilos para la cuadrícula de productos */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.t-producto {
    text-align: center;
}

.product {
    flex: 1 0 calc(33.33% - 20px);
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
}

.product img {
    width: 100%;
    height: auto;
}

.product h2 {
    font-size: 18px;
    margin: 10px 0;
}

.product p {
    font-size: 14px;
    margin: 0 10px;
}

.product-price {
    font-weight: bold;
    color: #f00;
}

.buy-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #d00;
}

/* Estilos para la información del producto */
.product-info {
    flex: 1 0 calc(33.33% - 20px);
    margin-top: 20px;
    text-align: center;
}

.product-info h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Estilos para el título de registro */
.registration-title {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
}

/* Estilos para el formulario */
form {
    width: 300px;
    margin: 50px auto 0;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

form button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #444;
}

/* Estilos para el carrusel */
.carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 500px;
}

@media (max-width: 768px) {
    .carousel-inner img {
    max-height: 300px;
    }
}

/* Estilos para títulos e información */
.titulo-informacion,
.empa-titulo,
.titulo-contacto,
.titulo-pago {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.empaquetado,
.contact-list,
.pago-list {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
    background-color: #666;
    color: #000;
}

/* Estilos para las listas de contacto y pago */
.contact-list li,
.pago-list li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.contact-list svg,
.pago-list svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: #555;
}

.contact-list span,
.pago-list span {
    font-size: 16px;
    color: #000;
}

.contact-list a,
.pago-list a {
    color: #000;
    text-decoration: none;
}

.contact-list a:hover,
.pago-list a:hover {
    text-decoration: underline;
}

/* Estilos para el contenedor */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

/* Estilos para el carrito */
.carrito {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.carrito a {
    text-decoration: none;
    color: #337ab7;
}

.carrito a:hover {
    color: #23527c;
}

/* Estilos para el pie de página */
.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #666;
    text-align: center;
    padding: 20px;
    color: #fff;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.add-to-cart-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: #218838;
}

.carrito {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    margin-bottom: 10px;
}

#clear-cart {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#clear-cart:hover {
    background-color: #c82333;
}